@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 347 77% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220, 18%, 10%;
    --foreground: 210 40% 98%;

    --muted: 230, 16%, 14%;
    --muted-foreground: 218 12% 65%;

    --popover: 220, 18%, 10%;
    --popover-foreground: 210 40% 98%;

    --card: 220, 18%, 10%;
    --card-foreground: 210 40% 98%;

    --border: 220 18% 17.5%;
    --input: 220 18% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 220 18% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 220 18% 17.5%;
    --accent-foreground: 210 40% 98%;

    /* --destructive: hsl(347, 77%, 50%); */
    --destructive: 347 62.8% 33%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family:
    'DM Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}

.link {
  @apply underline text-blue-500 dark:text-blue-200 hover:text-blue-600 dark:hover:text-blue-300;
}

.tabler-icon,
.line-icon {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}

.tabler-icon[stroke='none'] {
  stroke: none;
}

.line-icon {
  fill: none;
}

:is(.tabler-icon, .line-icon) :is(circle, ellipse, line, path, polygon, polyline, rect) {
  vector-effect: non-scaling-stroke;
}

.shiki {
  @apply p-4 rounded text-sm;
}

[data-sonner-toaster] {
  font-family: inherit !important;
}

.font-mono {
  font-family: 'Source Code Pro', monospace;
}
